{% extends 'base.html' %} 
{% block title %}{% endblock %} 
{% block content %} 
{%for product in products %}
<table border="1" cellpadding="5" cellspacing="0" class="table table-hover">
  <tbody>
    <tr>
      <th>Product name</th>
      <td>{{ product.product_name }}</td>
    </tr>
    <tr>
      <th>ID</th>
      <td>{{ product.product_id }}</td>
    </tr>
    <tr>
      <th>Number of opinions in which disadvantages have been listed:</th>
      <td>{{product.stats["cons_count"]}}</td>
    </tr>
    <tr>
      <th>Average score</th>
      <td>{{product.stats["average_stars"]}}</td>
    </tr>
    <tr>
      <td>
        <a
          href="{{ url_for('download', product_id=product.product_id, format = 'csv')}}"
          ><button>download .csv</button></a
        >
      </td>
      <td>
        <a
          href="{{ url_for('download', product_id=product.product_id, format = 'xlsx')}}"
          ><button>download .xlsx</button></a
        >
      </td>
      <td>
        <a
          href="{{ url_for('download', product_id=product.product_id, format = 'json')}}"
          ><button>download .json</button></a
        >
      </td>
    </tr>
  </tbody>
</table>

{%endfor%} 
{% endblock %}
